.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body {
  background-color: rgb(255, 255, 255);
}

.ui.blue.menu .active.item {
  border-color: #1652f0 !important;
  color: #1652f0 !important;
}

.primary {
  background-color: #1652f0 !important;
  border-color: #1652f0 !important;
}

.active {
  color: #1652f0 !important;
}

.ui.card {
  box-shadow: none !important;
  border-radius: 4px !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: rgb(236, 239, 241) !important;
  border-image: initial !important;
}

.ui.secondary.pointing.menu {
  border-bottom: 1px solid rgb(236, 239, 241) !important;
}

.ui.form .field > label {
  display: flex;
  font-weight: 200;
  color: rgba(70, 70, 70, 0.87);
}

input:active,
input:focus,
textarea:active,
textarea:focus,
select:active,
select:focus,
.ui.dropdown:active,
.ui.dropdown:focus,
.ui.dropdown.active,
.ui .menu.visible {
  border-color: #1652f0 !important;
}
